<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center" color="dark">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-text-center">
        <img src="assets/icon/usuario.png" style="width: 30%;" alt="Usuario">
      </div>
    </ion-card-content>

    <ion-card-content>
      <form [formGroup]="formularioLogin">

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

      </form><br>
      <ion-text class="ion-text-center" color="medium">Estoy de acuerdo con los terminos y condiciones.</ion-text><br><br>

      <ion-button (click)="ingresar()" shape="round" class="button-block">Iniciar sesión</ion-button>

    </ion-card-content>
  </ion-card> 
</ion-content>

<ion-footer><!--pagina de pie-->
  <ion-toolbar color="success">
    <ion-text color="dark">¿No tienes una cuenta?</ion-text>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registro']" color="dark">Registrate</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
