<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start"><!--icono de regresar al login-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="dark">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Formulario de registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioRegistro">

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input formControlName="telefono" type="tel"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input formControlName="direccion" type="street-address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="correo" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input formControlName="confirmarpassword" type="password"></ion-input>
        </ion-item>

      </form><br>
      <ion-text class="ion-text-center" color="medium">Estoy de acuerdo con los terminos y condiciones.</ion-text><br><br>

      <ion-button (click)="guardar()" shape="round" class="button-block">Registrar</ion-button>

    </ion-card-content>
  </ion-card> 
</ion-content>

<ion-footer><!--pagina de pie-->
  
  <ion-toolbar color="success">
    <ion-text color="dark">¿Ya tienes una cuenta?</ion-text>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']" color="dark">Iniciar sesion</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


